    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    body {
        //background-image: url('https://www.webnav.org/testingpages/dunbeach.jpg');
        background-color: #7499c5;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    .logoutbutton { 
        /* background-color:#0099cc; */
        background-color: red;
        width: auto;
        height: auto;
        border: 3px;
        color:#fff; 
        padding: 5px;
        margin: 0px 0px 0px 10px;
        text-align: center; 
        font-size: 13px;
        border-radius: 7px;
    }
    .blacktext{
        color: #2f4866;
        padding: 0px 10px 0px 0px;
    }
    .titletext{
        color: #2f4866;
        /* padding: 0px 10px 0px 0px; */
    }
    main{
        /* 4e7296 */
        padding: 10px;
        background-color: #7096c3;
    }
    button img{
    border: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    .sholdercolor{
        background-color: red;
    }
    .divinline {
        //display: flex;
        justify-content: space-between;
    }
    .backcolor{
        background-color: #7499c5;
    }
button{
    padding: 0;
}
button img{
    border: none;
}

} 