@charset "UTF-8";

/* START STRUCTURE 
465 lines
*/
/* FROM Main Page */

    /* .buttonnodeimage { */
        /* max-width: 90%;  */
        /* Adjust based on your requirement */
        /* height: auto;  */
        /* Maintain aspect ratio */
        /* border: none;  */
        /* Remove border if not needed */
        /* Add any additional styles you want for your image buttons */
    /* } */

.button6a{
        /* background-color: #2A547E;
        border-width: 1px;
        border-radius: 10px;
        color: #FFF;
        font-size: 20px;
        height:auto;
        max-width:410px;
        min-width:150px;
        padding: 10px 10px;
        text-align: center; */
        white-space: normal;
    } 

/* .button6{
            background-color: #2A547E;
            border-width: 1px;
            border-radius: 1px;
            color: #ddd;
            font-size: 10px;
            height:auto;
            max-width:410px;
            min-width:150px;
            padding: 10px 10px;
            text-align: center;
            white-space: normal;
            word-break: break-all;
            overflow-wrap: break-word;
            word-wrap: break-word;
    } */

.buttonchatgpt{
        background-color: #2A547E;
        border-width: 1px;
        border-radius: 10px;
        color: #FFF;
        font-size: 20px;
        height:auto;
        max-width:410px;
        min-width:150px;
        padding: 10px 10px;
        text-align: center;
        white-space: normal;
    }
.buttonalternativelanguage{
        background-color: #2A547E;
        border-width: 1px;
        border-radius: 10px;
        color: #FFF;
        font-size: 20px;
        height:auto;
        max-width:410px;
        min-width:150px;
        padding: 10px 10px;
        text-align: center;
        white-space: normal;
    }
.buttonenternextlevel{
        border-radius: 10px; 
        background: lightblue; 
        font-size : 28px; 
        color:#2A547E;
        word-break: break-all; 
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
.learnmore{
        border-radius: 10px; 
        padding: 5px;
        /* background: lightblue;  
        background-color: #ddd;*/
        background-color: lightblue;
        font-size : 28px; 
        color: #222;
    }
    

/* previus version */
div.screen-top{
    background-color:#444;
    text-align:center;
    height:50px;
    border-radius:50px 50px 0px 0px;
    }
img{
    width:100%;
    /* radius:2px; */
    border-radius:4px;
    }
input{
    width:80%;
    border-radius:4px;
    }
table{
    text-align:center;
    width:100%;
    }
p{
    text-align:center;
    }
.center{
    margin-left:auto;
    margin-right:auto;
    }
div.center{
    text-align:center;
    }
div.left{
    text-align:left;
    }
td.center{
    text-align:center;
    }
td.search{
    background-color:#CDDEEE;
    border: 2px solid #006;
    padding: 5px;
    height:auto;
    }
hr{
    height:2px;
    background-color:#2A547E;
    } 
.hr-blue{
    height:6px;
    background-color:#2A547E;
    } 
.hr-blue-3px{
    height:2px;
    background-color:#2A547E;
    } 
/* END STRUCTURE */

/* START BUTTONS */
.admin{
    border-radius: 10px;
    /* display: inline-block; */
    font-size: 25px;
    text-align: center;
    height: 65px;
    width: 250px;
    }
.block{ 
    background-color:#CDDEEE;
    border:2px solid;
    border-color: black;
    border-radius:10px;
    display:block;
    font-size:20px;
    height:auto;
    max-width:350px;
    Min-width:100px; 
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    white-space:normal; 
    word-wrap:break-word;  
    }
.blocksmall{
    background-color:#CDDEEE;
    border:1px solid;
    border-color: black;
    border-radius:10px;
    display:block;
    font-size:30px;
    height:auto;
    max-width:550px;
    min-width:350px;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    white-space:normal;
    word-wrap:break-word;
    }
.manualadd{
    background-color: #397AD3;
	color:#FFF;
    border-radius: 20px;
	min-width:70%;
    height: 50px;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    }	
.add-suggested-term{  
    background-color: #397AD3;
    border: none;
    border-radius: 10px;
    color:#ffffff;
    display:inline;
    /* float:left; */
    font-size: 45px;
    /* height: auto; */
    margin: 0 auto;
    min-width: 70%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    }
.common-word {    
    background-color: #f00;
    border: none;
    border-radius: 10px;
    color: white;
    display:inline;  
    /* float:left; */
    font-size: 45px;    
    margin: 0 0 0 20px;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;	
    }
.reset-button{
    background-color:#2A547E;
    border-width:1px;
    border-color:black;
    border-radius:20px;
    color: white;
    display:inline-block;
    font-size:15px;
    height: auto;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    width:auto;
    }
.button6{
    /* BREADCRUMBS */
    background-color: #2A547E;
    border-width: 4px;
    border-radius: 5px;
    color: #FFF;
    font-size: 60px;
    height:auto;
    max-width:550px;
    min-width:350px;
    padding: 10px 10px;
    text-align: right;
    white-space: normal;
    }
.buttonnodeimage{
    height: auto;     
    width:100%;
    } 
.adminbutton{
    font-size: 25px;
    text-align: center;
    padding: 5px 10px;
    width: auto;
    }
.home-style-button{
    background-color: purple;
    border-radius:10px;
    border-width:0px;
    width: 180px;
    }
.show-hide-add-topic{
    background-color: #254b70;
    border-radius:10px;
    color: white;
	display: inline-block;  
    font-size: 30px;	
	height:auto;
    padding: 1px 10px;
    text-align:center;
    width: auto;
    }           
.styletogglebutton {
    float: left;
    font-size: 30px;  
    height: 50px;     	
    text-align: center;
    width: 500px;
    }
.home-style-button{
    background-color: #ffffff;
    border-color:#800;
    border-radius:0px;
    border-width:0px;
    width: 80px;
    }
/* END BUTTONS */

/* START TEXT */	
.textfieldlarge{
    border: 2px solid #397AD3;
    font-size: 30px;
    width:80%;
    }		
.tag-line{
    background-color:#FFF;
    border: none;
    font-size: 25px;
    height:auto;
    min-width: 250px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    }
.adminbuttonold{
    border-width: thick;
    border-top-color: #000;
    font-size: 40px;
    padding: 5px 10px;
    text-align: center;
    white-space: normal;
    width: 100px;
    }
.footer-text{
    color: #000;
    font-size: 30px;
    text-align: center;
    }
.largetext {
    color: #000;
    font-size: 14px;
    text-align: center;
    }
.large-red-text{
    color: #f00;
    text-align: center;
    font-size: 40px;
    }   
.messagetext {
	font-size: 40px;
    text-align: center;
    }
.message-text {
	font-size: 70px;
    text-align: center;
    }
/* END TEXT */	

/* TRASH ??? */
#container div{
    display: inline-block;
    width: 400px;
    align-content: center;
    }
.submissionfield {
    width: 80%; height: 50px; border: 1px solid #999999; padding: 5px; 
    }
/* END TRASH ??? */

/* LARGE SCREEN *************************************** LARGE SCREEN ******************************** */
@media only screen and (min-width: 1008px) {
div.big{
    width: 600px;
    height: 1100px;
    background-color: #AAAAAA;
    padding: 20px;
    }
div.sub{
    width: 450px;
    height: 800px;
    border-style: solid;
    border-width: 5px;
    border-color: #000;
    border-radius: 50px;
    margin: 50px;
    padding: 50px 0px 0px 0px;
    background-color: #fff;
    }
div.tiny {
    background-color: #888;
    border-color: #999;
    border-radius: 0px;
    border-style: solid;
    border-width: 0px;
    height: 700px;
    margin: 0px;
    padding: 0px;
    width: 390px;
    }
/* END STRUCTURE */

/* START BUTTONS */
.add-suggested-term { 
    background-color: #397AD3;
	color:#ffffff;
    min-width: 70%;
    border-radius: 10px;
    /* height: 50px; */
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display:inline;
    margin: 0 auto;
    /* float:left; */
    font-size: 22px;
    }
.admin{
    border-radius: 10px;
    display: inline-block;
    font-size: 35px;
    text-align: center;
    height: auto;
    padding: 10px 20px;
    width: 250px;
    }
.block{
    /* text-align:center; */
    background-color:#CDDEEE;
    border:1px solid;
    border-color: black;
    border-radius:10px;
    display:block;
    font-size:30px;
    height:auto;
    max-width:550px;
    min-width:350px; 
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    white-space:normal; 
    word-wrap:break-word;  
    }
.blocksmall{
    /* text-align:center; */
    background-color:#CDDEEE;
    border:1px solid;
    border-color: black;
    border-radius:10px;
    display:block;
    font-size:30px;
    height:auto;
    max-width:550px;
    min-width:250px; 
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    white-space:normal; 
    word-wrap:break-word;  
    }
.button6 {
    height: auto;
    background-color: #2A547E;	
    border-width: 1px;
    color: #FFF;
    max-width:550px;
    min-width:250px; 
    padding: 10px 20px;
    text-align: center;
    white-space: normal;
    font-size: 50px;
    border-radius: 10px;
    word-wrap:break-word;
    }
.common-word{  
    color: white;
    background-color: #f00;
    border: none;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display:inline;
    margin: 0 auto;
    /* float:left; */
    font-size: 22px;
	border-radius: 10px;
    }	
.home-style-button{
    background-color: #ffffff;
    border-color:#800;
    border-radius:0px;
    border-width:0px;
    width: 80px;
    }
.reset-button{
    border-width:1px;
    border-color:black;
    border-radius:50px;
    display:inline-block;
    font-size:15px;
    height: auto;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    width:auto;
    }
.show-hide-add-topic{
    color: white;
    width: auto;
    height:auto;
    background-color: #254b70;	
    text-align: center;
    font-size: 30px;
    display: inline-block;
    border-radius:10px;
    padding:10px 20px;
    }
 /* END BUTTONS */

/* START TEXT */
.footer-text{
    color: #000;
    font-size: 20px;
    text-align: center;
    }
.large-red-text{
    color: #f00;
    font-size: 24px;
    text-align: center;
    }    
.largetext {
    color: #000;
    font-size: 10px;
    text-align: center;
    }
.messagetext{
    font-size: 10px;
    text-align: center;
    }     
.message-text{
    font-size: 50px;
    text-align: center;
    }
.tag-line{
    background-color:#fff;
    border: none;
    font-size:2em;
    height:auto;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    }
}
/* END TEXT */


