/* 
Common Style Elements
Each Class is Ordered by: 
width - height - margin - padding - background color - font - font color - font size - BORDER - ALIGNMENT - other
*/

.navgridbutton{
    width: 150px;
    padding: 5px;
    background-color: #7bf;
    font-size: 30px;
    border-radius: 5px;  
}
.navigationbutton{
    width: 140px;
    padding: 5px;
    /* background-color: #add6f4; */
    background-color: #7bf;
    font-size: 10px;
    border-radius: 1px;
    text-align: center;  
}
.logodesign{
    width: 200px;
    border-radius: 1px;
}
.logout {
    /* BUTTON */
    width: 130px;
    height: auto;
    padding: 5px 5px;
    background-color: red;
    border-radius: 5px;
    color:#fff; 
    border: 3px;
    text-align: center; 
    font-size: 18px;
}
.logoutbutton {
    width: 130px;
    height: auto;
    padding: 5px 7px;
    background-color: red;
    color:#fff;
    font-size: 20px;
    border: 1px;
    border-radius: 5px;
    text-align: center;  
}
.paypal{
    max-width: 200px;
    margin: auto;
    text-align: center; 
}
.tag-line{
    background-color:#FFF;
    border: none;
    font-size: 20px;
    height:auto;
    min-width: 100px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    }
@media screen and (min-width: 980px){

}

/* end of trash from Main */