/* 
start of style for Cardview
Each Class is Ordered by: 
width - height - margin - padding - background color - font - font color - font size - BORDER - ALIGNMENT - other
*/


body{
    /* background-color: #7bf; */
    margin: .2em auto; 
    //background-color: #7499c5; 
    background-color: #000000; 
}
.logoutbutton{
    width: 120px;
    background-color: red;
    color: white;
}
.altlangbutton{
    /* Content BUTTON */
    max-width:270px;
    min-width:70px; 
    height:auto;
    padding:5px 10px;
    /* background-color:#F89880; */
    background-color:#ffbdbd;
    border:1px solid;
    border-color: black;
    border-radius:10px;
    display:block;
    font-size:20px;
    text-align:left;
    text-decoration:none;
    white-space:normal; 
    word-wrap:break-word;  
    /* word-wrap: normal; */
    }
.cardwidth{
    max-width:70%;
    min-width: 200px;
    padding: 1px 1px 1px 1px;
    /* margin: 0px;  */
    margin: 2em auto; 
}
.navigationbutton{
    width: 140px;
    padding: 5px;
    /* background-color: #7bf; */
    background-color: #add6f4;  
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}
.myborder{
    /* min-width: 100px; */
    /* max-width: 400px; */
    /* border: solid 1px #ccc; */
    border: none;
}
.mypadding{
    padding:5px;
}
.card{
    border: solid 1px;
}
.editnodebutton{
    width: auto;
    padding: 3px 10px 3px 10px;
    /* 7bf */
    background-color: #00bfff;
    font-size: 17px;
    border-radius: 7px;
    text-align: center; 
}
div#frm *{display:inline}

@media only screen and (min-width: 968px) {
    body{
        //background-color: #7499c5; 
        background-color: #000000; 
        //background-image: url('https://www.webnav.org/testingpages/dunbeach.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        text-align: center;
    }
    .cardwidth{
        max-width:20%;
        min-width: 200px;
        padding: 1px 1px 1px 1px;
        margin: 0px; 
    }
    .card-columns {
        column-count: 6;
    } 
}
/* End of style for Cardview */